<div class="disclaimer-container">
    <ul class="disclaimer-list">
        <li>This website is an educational platform designed to teach students about stock trading and financial
            literacy.
            All transactions are simulated, and no real money is involved.</li>
        <li>The information and resources provided on this site are for educational purposes only and should not be
            considered as financial or investment advice. Users should seek professional advice for real-world financial
            decisions.</li>
        <li>Church St. Credit (CSC) is a fictional currency used exclusively within this platform for educational
            simulations
            and holds no actual monetary value.</li>
        <li>Stock prices and market data displayed on this site are provided for educational purposes and may not
            reflect
            real-time or completely accurate market conditions.</li>
        <li>Church St. Financial and its operators are not responsible for any actions or decisions users take based on
            information or simulations conducted on this site.</li>
        <li>This platform is intended for educational use by teens. Parental supervision is recommended for users under
            13.
        </li>
    </ul>
    <br>
    <p id="copyright">2024 Brian Wastle</p>
    <br>
</div>