<div class="main-container">
    <div>
        <img class="logo-img" src="assets/logo.webp" alt="Church Street Financial">

        <ul class="link-container">
            <li class="sidenav-link"><a routerLink="/">Home</a></li>
            <li class="sidenav-link"><a routerLink="/portfolio">Portfolio</a></li>
            <li class="sidenav-link"><a routerLink="/search">Browse</a></li>
        </ul>
    </div>

    <app-account-info></app-account-info>

    <div class="sidenav-buffer"></div>
</div>