



// Search Bar

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: 1px solid #6366F1;
    border-radius: 8px;
    height: 60px;
    margin-bottom: 20px;
}

.search-input {
    width: 500px;
    height: 36px;
    font-size: 16px;
}

.search-submit {
    width: 120px;
    height: 32px;
    font-family: Quicksand, sans-serif !important;
    font-weight: bold;
    background-color: #6366F1;
    color: #ffffff;
    margin-left: 30px;
    border-radius: 5px;
    border-width: 0px;
}

.search-icon {
    margin-right: 15px;
}

// Search Results

.search-result {
    margin-bottom: 10px;
}

.result-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.ticker-name {
    font-size: 22px;
    a {
        text-decoration: none;
    }
}



.ticker-symbol {
    font-size: 12px;
}

.ticker-description {
    font-size: 16px;
}





@media (max-width: 1000px) {
    .search-input {
        width: 250px;
        height: 36px;
        font-size: 16px;
    }
}