<header class="header">
  <div class="header-container">
    <div class="logo">
      <h1>Church St. Financial</h1>
    </div>
    <nav class="navigation">
      <a routerLink="/">Home</a>
      <a routerLink="/">Profile</a>
      <button (click)="showAuthenticator = true">Login</button> 
    </nav>
  </div>

  <amplify-authenticator>
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
      <h1>Welcome {{ user.username }}!</h1>
      <button (click)="signOut()">Sign Out</button>
    </ng-template>
  </amplify-authenticator>
</header>