.ticker-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.skeleton-container p-skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3em;
}

br {
    height: 10px;
}

.ticker-data {
    width: 90%;
}

.metadata-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 1278px) {
.metadata-button {
    padding-right: 3em;
}
}

.chart-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100%;            
}

h1 {
    font-size: 3em;
}

h1, h5, h4, .date-range-selector {
    margin-left: 10px
}

p {
    font-family: Quicksand, sans-serif;
}

.buffer-head {
    height: 3em;
}

.buffer-tail {
    height: 20em;
}
