<form *ngIf="!cognitoService.hasValidToken()" [formGroup]="authForm" (ngSubmit)="login()">
  <div>
    <label for="username">Email:</label>
    <input id="username" formControlName="username" required>
    <div *ngIf="authForm.get('username')?.invalid && (authForm.get('username')?.touched || authForm.get('username')?.dirty)" class="error">
      Username is required.
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" required>
    <div *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.touched || authForm.get('password')?.dirty)" class="error">
      Password is required.
    </div>
  </div>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <div>
    <label>
      <input type="checkbox" formControlName="rememberDevice"> Remember Me on This Device
    </label>
  </div>

  <button type="submit" [disabled]="authForm.invalid || loading">
    {{ loading ? 'Loading...' : 'Sign In' }}
  </button>
</form>
