.auth-form-inline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .auth-form-inline .p-field {
    display: flex;
    flex-direction: column; /* Stack input and error message vertically */
    margin-right: 10px;
  }
  
  .auth-form-inline .p-field-checkbox {
    margin-right: 10px;
  }

.auth-form-inline button {
    margin-left: 10px;
}

.auth-form-inline label {
    margin-right:10px;
}

/* Styling for inputs */
.p-inputtext,
.p-password {
  width: auto; /* Adjust width to fit the layout */
}

.p-checkbox {
    margin-left: 5px;
}

/* Button Styling */
button {
    padding: 6px 12px;
    font-size: 14px;
}

.p-error {
    margin-top: 5px;
    color: red;
    font-size: 12px;
  }

.p-message {
    margin-top: 10px;
    color: red;
}
  