<form *ngIf="!cognitoService.hasValidToken()" [formGroup]="authForm" (ngSubmit)="login()">
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>Email:</mat-label>
    <input matInput formControlName="username" placeholder="Email" required>
    <mat-error *ngIf="authForm.get('username')?.invalid && (authForm.get('username')?.touched || authForm.get('username')?.dirty)">
      Username is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password:</mat-label>
    <input matInput type="password" formControlName="password" required>
    <mat-error *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.touched || authForm.get('password')?.dirty)">
      Password is required.
    </mat-error>
  </mat-form-field>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <mat-checkbox formControlName="rememberDevice">Remember Me on This Device</mat-checkbox>

  <button mat-raised-button type="submit" [disabled]="authForm.invalid || loading">
    {{ loading ? 'Loading...' : 'Sign In' }}
  </button>
</form>
