.portfolio-list-wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

ticker-holdings-card {
  margin: 10%
}

@media (max-width: 768px) {
    .portfolio-list-wrapper {
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

@media (max-width: 1279px) {
  .portfolio-list-wrapper {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}