@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeng/resources/themes/lara-light-indigo/theme.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden; /* Prevents scrolling on body */
  display: flex;
  flex-direction: column;
  background-color: #f8f8f7;
}

/* Container for the entire layout */
.sidenav-container {
  display: flex;
  flex-direction: column; 
  height: 100vh; /* Full viewport height */
}

.fixed-sidebar {
  width: 20%;
  min-width: 250px;
  max-width: 350px;
  padding: 16px;
}

app-header {
  height: 80px;
  background-color: #e3f2fd;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
  border: none;
  box-shadow: none;
}

/* Sidenav content should stretch to fill the available height */
mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none;
}

/* Ensuring that only the main content area scrolls */
.main-content {
  flex: 1;
  padding: 16px;
  overflow-y: auto; /* Enable vertical scrolling only */
  box-sizing: border-box;
  border: none;
  box-shadow: none;
}

/* Styling for the fixed sidebar */
.fixed-sidebar p {
  color: #333;
  font-size: 16px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .fixed-sidebar {
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .main-content {
    padding: 16px;
  }
}

/* Card styling */
.card {
  max-width: 100%;
  box-sizing: border-box;
  
  h2 {
    font-family: 'Raleway', 'Quicksand' !important;
    color: #003366;
  }

  p {
    font-family: 'Quicksand', sans-serif !important;
  }
}

/* PrimeNG button styling */
.p-button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #003366;
  color: white;
}
