@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeng/resources/themes/lara-light-indigo/theme.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";

html, body {
  height: 100%;
  margin: 0;
  font-family: Quicksand, "Helvetica Neue", sans-serif !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f7;
}

//PrimeNG font overrides
.p-component {
  font-family: Quicksand, sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: Quicksand, sans-serif !important;
}

//Angular Material font overrides
.mat-typography, .mat-button, .mat-input-element, .mat-select-value-text, .mat-checkbox-label, .mat-radio-label-content, 
.mat-card-title, .mat-card-content, .mat-form-field-label {
  font-family: Quicksand, sans-serif !important;
}

ul {
  list-style-type: none;
  padding:0px;
}

.sidenav-container {
  display: flex;
  flex-direction: column; 
  height: 100vh; 
}

.fixed-sidebar {
  width: 20%;
  min-width: 250px;
  max-width: 350px;
  padding: 16px;
}

div.mat-drawer-inner-container {
  overflow:hidden;
}

app-header {
  height: 80px;
  background-color: #BCD4F5;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
  border: none;
  box-shadow: none;
}

mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
}

.fixed-sidebar p {
  color: #333;
  font-size: 16px;
}

@media (max-width: 768px) {
  .fixed-sidebar {
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .main-content {
    padding: 16px;
  }
}


.card {
  max-width: 100%;
  box-sizing: border-box;
  
  h2 {
    font-family: 'Raleway', 'Quicksand' !important;
    color: #003366;
  }

  p {
    font-family: 'Quicksand', sans-serif !important;
  }
}



.date-range-selector .p-button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #003366;
  color: white;
}

.auth-buttons .p-button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #003366;
  color: white;
}

.large-button .p-button {
  padding: 24px 64px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #003366;
  color: white;
}

.large-button.green-button .p-button {
  padding: 24px 64px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #7FB77E;
  color: #ecfceb;
}

.large-button.red-button .p-button {
  padding: 24px 64px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #E57373;
  color: #f8eded;
}

.p-card .p-card-body {
  padding-bottom:0;
  padding-top: 1.5rem;
}

.search-container .highlighted {
  font-weight: bold !important;
}
